body {
    margin: 0px
}

h1 {
    color: white;
    background-color: darkslategray;
    font-size: 50;
    width: 100%
}

h2 {
    margin-left: 30;
    color: red;
    font-size: 40;
    width: 100%
}

.top {
    color: blue;
    font-size: 24;
    font-weight: 800;
    margin-left: 25;
    width: 100%
}

.left {
    width: 70%;
    float: left;
    margin-left: 40
}

.long1 {
    width: 160
}

.long2 {
    width: 90
}

.table1, td {
    color: darkred;
    margin-top: 30;
    font-size: 32;
    margin-right: 30;
    border-collapse: collapse;
    text-align: center;
    border: 3px solid black
}

.table2 td {
    font-size: 24;
    font-weight: 700;
    color: indigo;
    border: 0px;
    text-align: left
}

.table2 td input {
    width: 70px
}

.images {
    width: 300;
    height: 300;
    border-radius: 20px
}

.decide {
    font-size: 36;
    font-weight: 700;
    color: indigo;
    margin-top: 30;
}

.infor {
    color: indigo;
    font-weight: 700;
    font-size: 25
}

.apply {
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
}

#time {
    font-size: 26;
    font-weight: 700
}

.contact {
    color: green;
    font-size: 18
}