    h1 {
        color: white;
        background-color: darkslategray;
        font-size: 50
    }

    h2 {
        color: red
    }

    span {
        color: black
    }

    table, th, td {
        border: 1px solid black;
    }

    .long1 {
        width: 200
    }

    .long2 {
        width: 120
    }

    .sanpham {
        color: darkred;
        margin-top: 30;
        font-size: 32;
        margin-right: 30;
        border-collapse: collapse;
        text-align: center
    }
    
    .images {
        width: 300;
        height: 300;
        border-radius: 20px
    }

    .xaphong {
        color: blue;
        font-size: large;
        font-weight: 800
    }

    .decide {
        font-size: 36;
        font-weight: 700;
        color: indigo;
        margin-top: 30;
    }

    .infor {
        color: indigo;
        font-weight: 700;
        font-size: 25
    }

    .apply {
        font-size: 20;
        font-family: 'Times New Roman', Times, serif;
    }

    .contact {
        color: green;
        font-size: 18
    }